\documentclass[14pt,twoside]{extarticle}
\usepackage{fullpage}
\usepackage{graphicx}
\usepackage{enumitem} % For customizing list spacing
\input{meeting_dates.tex}
\newcommand{\meetingTime}{{ "{" }}{{ meetingTime }}{{ "}" }}
%\newcommand{\header}{{ "{" }}{../assets/images/residentCouncilLogoSmall.pdf}{{ "}" }}
\newcommand{\thisVenue}{{ "{" }}{{ thisVenue }}{{ "}" }}
\newcommand{\nextMeetingLocation}{{ "{" }}{{ nextMeetingLocation }}{{ "}" }}
\begin{document}
\thispagestyle{empty}
\begin{center}
\includegraphics{../../assets/images/residentCouncilLogoSmall} \\
{
   \large\bf \meetingDate, \meetingTime \\ \vspace{0.08in} 
   \thisVenue \\ \vspace {0.08in}
   Order of Business
}
\end{center}
\section{Call to Order}
\section{Attendance}
\section{Approval of Minutes}
\section{Officers' Reports}
\begin{enumerate}[itemsep=1pt, parsep=0pt] % Adjust itemsep and parsep as needed
{% for officer in officers -%}
	\item {{ officer.label }}: {{ officer.incumbent }}
{% endfor -%}
\end{enumerate}
\section{Committee Reports}
\begin{enumerate}[itemsep=1pt, parsep=0pt]
{% for report in open_reports -%}
	\item {{ report.label }}: {{ report.incumbent }}
{% endfor -%}
\end{enumerate}
\section{Executive Director's Report}
\section{Unfinished Business}
{% if oldBusinessItems and oldBusinessItems|length > 0 -%}
\begin{enumerate}[itemsep=1pt, parsep=0pt]
{% for item in oldBusinessItems -%}
\item {{ item }}
{% endfor -%}
\end{enumerate}
{%- else -%}
There are no pending motions or topics carried over from the last meeting.
{%- endif %}

\section{New Business}
{% if newBusinessItems and newBusinessItems|length > 0 -%}
\begin{enumerate}[itemsep=1pt, parsep=0pt]
{% for item in newBusinessItems -%}
\item {{ item }}
{% endfor -%}
\end{enumerate}
{%- else -%}
No new business items have been submitted.
{%- endif %}

\section{Questions from the Floor}
\section{Next Meeting}
\nextMeetingDate, \nextMeetingLocation.
\section{Adjournment}
\end{document}
