\newcommand{\lastMeetingDate}{{ "{" }}{{ last_meeting_date }}{{ "}" }}
\newcommand{\meetingDate}{{ "{" }}{{ meeting_date }}{{ "}" }}
\newcommand{\nextMeetingDate}{{ "{" }}{{ next_meeting_date }}{{ "}" }}
